<footer class="footer">
  <div class="container d-flex justify-content-around">
    <p>REJOINDRE LA COMMUNAUTÉ</p>
    <p>SUR LES RESEAUX</p>
  </div>

  <div class="container d-flex justify-content-between mb-2">
    <div class="container d-flex justify-content-around align-items-center">
      <button type="button" class="btn btn-secondary">
        <span class="me-2">Apple</span>
        <span class="iconify" data-icon="ri:apple-fill"></span>
      </button>
      <button type="button" class="btn btn-secondary">
        <span class="me-2">Google Play</span>
        <span class="iconify" data-icon="simple-icons:googleplay"></span>
      </button>
  </div>
  
    <div class="container d-flex justify-content-around align-items-center">
      <a href="#" class="icon-link icon-link-hover">
        <span class="iconify" data-icon="ic:baseline-facebook"></span>
      </a>
      <a href="#" class="icon-link icon-link-hover">
        <span class="iconify" data-icon="ri:instagram-fill"></span>
      </a>
      <a href="#" class="icon-link icon-link-hover">
        <span class="iconify" data-icon="mdi:spotify"></span>
      </a>
      <a href="#" class="icon-link icon-link-hover">
        <span class="iconify" data-icon="jam:deezer"></span>
      </a>
      <a href="#" class="icon-link icon-link-hover">
        <span class="iconify" data-icon="mdi:linkedin"></span>
      </a>
    </div>
  </div>

  <div class="container d-flex justify-content-around mb-2">
    <a href="#"> Conditions d'utilisation </a>
    <a href="#"> Politique de données personnelles </a>
    <a href="#"> Informations du consommateur </a>
    <a href="#"> Politique cookies </a>
  </div>
</footer>


