<h1>My Event Bright Kit UI</h1>
<br>
<p></p>

<a href="/static_pages/navbar">Voir la navbar</a>
<br>
<a href="/static_pages/footer2">Voir le footer </a>
<br>
<a href="/static_pages/authentification_form">Voir le formulaire d'authentification générique</a>

<br>
<a href="/static_pages/big_banner">Voir la grande bannière</a>
<br>
<a href="/static_pages/small_banner">Voir la petite bannière</a>


